<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Questions</title>
  <script src="../../../lib-native/storyline-q/assets/js/lottie-min.js"></script>
  <script src="../../../lib-native/storyline-q/assets/js/vue.js"></script>
  <link rel="stylesheet" href="../../../lib-native/storyline-q/assets/style/font.css" />
  <link rel="stylesheet" href="../../../lib-native/storyline-q/assets/style/style.css" />
  <link rel="stylesheet" href="../../../lib-native/storyline-q/assets/style/slid-show.css" />
  <link rel="stylesheet" href="../../../lib-native/storyline-q/assets/style/images.css" />
  <link rel="stylesheet" href="style/lo-style.css" />
</head>

<body>
  <div class="main" id="Question" data-urlpage="data">
    <div class="opactiy" v-if="feedback"></div>
    <div class="safeArea" id="safeArea">
      <div class="loader" v-show="!isSuccess || !isLoading"></div>
      <div class="lo-container" id="lo-container" v-show=" isSuccess && isLoading">
        <div class="logo"></div>
        <div class="content">
          <div class="title">
            <div class="sound" v-if="start && currentQuestion.soundT" @click="ToggleAudioT()"
              :class="{'play' : AudioT , 'pause':  !AudioT}"></div>
            <p>{{titlePage}}</p>
          </div>
          <div class="border-content" id="border-content">
            <template v-if="!start">
              <div class="StartPage">
                <div class="intractive">
                  <p>نشاط تفاعلي</p>
                </div>
                <div class="home"></div>
                <div class="start" @click="startLo()">
                  <p>ابدأ</p>
                </div>
              </div>
            </template>
            <template v-if="start">
              <template v-for="question in shuffledQuestions">
                <template v-if="question.type == 'choose'">
                  <div class="chooseQuestion" :class="{'active' : question.active}">
                    <div class="question" v-if="question.question">
                      <div class="sound" v-if="question.soundQ" @click="ToggleAudioQ()"
                        :class="{'play' : AudioQ , 'pause':  !AudioQ}"></div>
                      <div class="txt" :class="{'full' : question.img == ''}">
                        <p>{{question.question}}</p>
                      </div>
                      <div class="image" v-if="question.img">
                        <img :src="question.img" alt="">
                      </div>
                    </div>
                    <div class="image-question" v-if="question.question == '' && question.img">
                      <img :src="question.img" alt="">
                    </div>

                    <div class="chooses">
                      <template v-for="choose in question.answers">
                        <div class="choose" @click="selectChoose($event, choose)"
                          :class="{'correct': choose.answer,'select': choose.select}">
                          <p class="text parag" v-html="choose.choose"></p>
                        </div>
                      </template>

                    </div>
                    <!-- <div class="sumbit" @click="checkChoose()"></div> -->
                  </div>
                </template>
                <template v-if="question.type == 'trueFalse'">
                  <div class="chooseQuestion" :class="{'active' : question.active}">
                    <div class="question" v-if="question.question">
                      <div class="sound" v-if="question.soundQ" @click="ToggleAudioQ()"
                        :class="{'play' : AudioQ , 'pause':  !AudioQ}"></div>
                      <div class="txt" :class="{'full' : question.img == ''}">
                        <p>{{question.question}}</p>
                      </div>
                      <div class="image" v-if="question.img">
                        <img :src="question.img" alt="">
                      </div>
                    </div>
                    <div class="image-question" v-if="question.question == '' && question.img">
                      <img :src="question.img" alt="">
                    </div>

                    <div class="chooses">
                      <template v-for="choose in question.answers">
                        <div class="choose" @click="selectChoose($event, choose)"
                          :class="{'correct': choose.answer,'select': choose.select}">
                          <p class="text parag" v-html="choose.toChoose"></p>
                        </div>
                      </template>

                    </div>
                    <!-- <div class="sumbit" @click="checkChoose()"></div> -->
                  </div>
                </template>
                <template v-if="question.type == 'dragDrop'">
                  <div class="DragQuestion " :class="{ active: question.active , 'column' : question.column }">
                    <div class="question" v-if="question.question">
                      <div class="sound" v-if="question.soundQ" @click="ToggleAudioQ()"
                        :class="{'play' : AudioQ , 'pause':  !AudioQ}"></div>
                      <div class="txt" :class="{'full' : question.img == ''}">
                        <p>{{question.question}}</p>
                      </div>
                      <div class="image" v-if="question.img">
                        <img :src="question.img" alt="">
                      </div>
                    </div>
                    <div class="image-question" v-if="question.question == '' && question.img">
                      <img :src="question.img" alt="">
                    </div>
                    <!-- DRAGS -->
                    <div class="drags-container" :class="{  'w85f' : question.column }">
                      <template v-for="drag in DragShuffled">
                        <div class="drag-area" v-if="drag.text" :key="drag.id">
                          <div class="drag" :draggable="!isMobile" @dragstart="dragstart(drag)"
                            :class="{ 'disabled': drag.placed }" @touchstart="touchStartDrag($event, drag)"
                            @touchmove.prevent="touchMoveDrag" @touchend="touchEndDrag($event)">
                            <p>{{ drag.text }}</p>
                          </div>
                        </div>

                        <div class="drag-area-img" v-if="drag.img" :key="drag.id">
                          <div class="drag-img" :draggable="!isMobile" @dragstart="dragstart(drag)"
                            :class="{ 'disabled': drag.placed }" @touchstart="touchStartDrag($event, drag)"
                            @touchmove.prevent="touchMoveDrag" @touchend="touchEndDrag($event)">
                            <img :src="drag.img" alt="">
                          </div>
                        </div>
                      </template>

                    </div>
                    <!-- DROPS -->
                    <div class="drops-container" :class="{  'w85f' : question.column }">
                      <template v-for="(drop, index) in question.drags">
                        <div class="drop" v-if="drop.text" :key="index" @dragover.prevent @drop="handleDrop(index)"
                          :class="{border: !dropAnswers[index] ,correct: dropResults[index] === true,wrong: dropResults[index] === false}">
                          <div v-if="dropAnswers[index]" class="drag" :draggable="true"
                            @dragstart="dragstart(dropAnswers[index])"
                            @touchstart.prevent="touchStartDrag($event, dropAnswers[index])">
                            <p>{{ dropAnswers[index].text }}</p>
                          </div>
                        </div>

                        <div class="drop drop-img" v-if="drop.img" :key="index" @dragover.prevent
                          @drop="handleDrop(index)"
                          :class="{border: !dropAnswers[index] ,correct: dropResults[index] === true,wrong: dropResults[index] === false}">

                          <div v-if="dropAnswers[index]" class="drag-img" :draggable="true"
                            @dragstart="dragstart(dropAnswers[index])"
                            @touchstart.prevent="touchStartDrag($event, dropAnswers[index])">
                            <img :src="dropAnswers[index].img" alt="">
                          </div>
                        </div>
                      </template>

                    </div>

                    <div class="sumbit" @click="checkDragDrop()"
                      :class="{ dimmed :  lengthQuestion != userLengthQuestion}"></div>

                  </div>
                </template>
                <template v-if="question.type == 'match'">
                  <div class="matchQuestion" :class="{ active: question.active }">
                    <div class="svg-dist">
                    </div>
                    <div class="columnRight">
                      <template v-for="(drag, index) in matchingRightShuffled">
                        <div class="row-text" :class="{'div-img' : drag.imgRight,'div-txt' : drag.textRight}">
                          <div class="text" v-if="drag.textRight">
                            <div class="pragraph">
                              <p>{{drag.textRight}}</p>
                            </div>
                          </div>
                          <div class="image" v-if="drag.imgRight">
                            <img :src="drag.imgRight" alt="">
                          </div>
                          <div class="cointDrag" :data-number="drag.point">
                            <div class="point drag" id="startTouchDiv" :data-index="index" :data-number="drag.point"
                              @dragstart="dragStart($event)" draggable="true" @dragOver="dragOver($event)"
                              @dragend="dragEnd($event,drag)" @dragover="dragOver($event)"
                              :class="{'none' : drag.answer}" @touchstart="touchStart($event)"
                              @touchmove="touchMove($event)" @touchend="touchEnd($event,drag)"></div>
                          </div>
                        </div>
                      </template>
                    </div>
                    <div class="columnLeft">
                      <template v-for="(drag, index) in matchingLeftShuffled">
                        <div class="row-text" v-if="drag.textLeft || drag.imgLeft"
                          :class="{'div-img' : drag.imgLeft,'div-txt' : drag.textLeft}">
                          <div class="cointDrag" :data-number="drag.point">
                            <div class="point drop flip" id="otherDiv" :data-index="index" :data-number="drag.point"
                              @dragstart="dragStart($event)" draggable="true" @dragOver="dragOver($event)"
                              @dragend="dragEnd($event,drag)" @dragover="dragOver($event)"
                              :class="{'none' : drag.answer}" @touchstart="touchStart($event)"
                              @touchmove="touchMove($event)" @touchend="touchEnd($event,drag)"></div>
                          </div>
                          <div class="pragraph" v-if="drag.textLeft">
                            <p>{{drag.textLeft}}</p>
                          </div>
                          <div class="image" v-if="drag.imgLeft">
                            <img :src="drag.imgLeft" alt="">
                          </div>
                        </div>
                      </template>
                    </div>

                    <div class="sumbit" @click="checkAnswers()" :class="{ dimmed :  lines.length != lengthQuestion}">
                    </div>
                  </div>
                </template>
              </template>
            </template>
            <!-- <template v-if="activeNav == 'slideShow'">
              <div class="slidShow">
                <div class="paragraph-postion">
                  <p>...</p>
                </div>
                <div class="image-postion">
                  <img src=" " alt="" />
                </div>
                <div class="controls">
                  <div class="icon prev" id="prevBtn"></div>
                  <div class="icon" id="playPauseBtn"></div>
                  <div class="icon next" id="nextBtn"></div>
                </div>
              </div>
            </template> -->
            <transition name="feedback">
              <div class="feedBack" v-if="feedback">
                <template v-if="!homeButtonShow">
                  <div class="feedBackTxt" v-if="correctAnswer">
                    <p>{{popupCorrect}}</p>
                    <p>{{correctanswer}}</p>
                  </div>
                  <div class="feedBackTxt" v-if="!correctAnswer">
                    <p>{{popupWrong}}</p>
                    <p v-if="numOfAttemp === 1 && numberOfAnswer > 2 ">{{tryAgain}}</p>
                  </div>
                  <div class="feedBackImg">
                    <div class="status happy" :class="{'happy' : correctAnswer , 'sad' : !correctAnswer}"></div>
                  </div>
                </template>
                <template v-if="homeButtonShow">
                  <div class="feedBackImg w35f" v-if="passLo">
                    <div class="status" :class="{'happygirl' : passLo }"></div>
                  </div>
                  <div class="feedBackTxt w35f" v-if="passLo">
                    <p>{{feedbackcorrect}} </p>
                  </div>
                  <div class="feedBackTxt w35f" v-if="!passLo">
                    <p>{{feedbackwrong}}</p>
                    <p v-if="numOfAttemp === 1 && numberOfAnswer > 2 ">{{tryAgain}}</p>
                  </div>
                  <div class="feedBackImg w35f">
                    <div class="status" :class="{'happyboy' : passLo , 'sad' : !passLo}"></div>
                  </div>

                </template>
                <div class="icon next" @click="nextQuestion()" v-if=" nextButtonShow"></div>
                <div class="icon reload" @click="reloadQuestion()" v-if="reloadButtonShow"></div>
                <div class="icon home" @click="home()" v-if="homeButtonShow"></div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../../../js/scorm.js"></script>
  <script src="../../../lib-native/storyline-q/assets/js/choose.js"></script>
  <script src="../../../lib-native/storyline-q/assets/js/match.js"></script>
  <script src="../../../lib-native/storyline-q/assets/js/drag.js"></script>

  <script src="../../../lib-native/storyline-q/assets/js/main.js"></script>
  <script src="../../../lib-native/storyline-q/assets/js/animation.js"></script>
</body>

</html>