@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

p,
input {
  font-family: vazirmatn-regular-lower;
  font-size: 3.5vh;
  font-weight: bold;
}

span {
  color: #00ACE6 !important;
}

.loader {
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .opactiy {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1000;
}
.main .safeArea {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main .safeArea .lo-container.poniterEvent {
  pointer-events: none !important;
}
.main .safeArea .lo-container .logo {
  background-repeat: no-repeat;
  position: absolute;
  width: 6%;
  height: 9%;
  left: 1%;
  top: 1%;
  background-size: contain;
  background-position: center center;
}
.main .safeArea .lo-container .side-navgations {
  width: 6.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container .side-navgations .border-navgations {
  width: 92%;
  height: 55%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container .side-navgations .border-navgations .icon {
  width: 67%;
  height: 11.5%;
  background-size: 100% 100%;
  margin: 4%;
  cursor: pointer;
}
.main .safeArea .lo-container .content {
  width: 95%;
  height: 100%;
}
.main .safeArea .lo-container .content .title {
  min-width: 75%;
  max-width: 85%;
  background-size: 100% 100%;
  margin: 1% 0;
  padding: 0 4% 0 1%;
  display: flex;
  align-items: center;
  min-height: 9%;
  position: relative;
}
.main .safeArea .lo-container .content .title p {
  font-weight: bold;
  color: #388388;
  width: 92%;
}
.main .safeArea .lo-container .content .title .sound {
  position: absolute;
  width: 7vh;
  height: 7vh;
  background-size: 100% 100%;
  left: 1%;
  cursor: pointer;
}
.main .safeArea .lo-container .content .border-content {
  width: 100%;
  height: 85%;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.main .safeArea .lo-container .content .border-content .StartPage {
  width: 96%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.main .safeArea .lo-container .content .border-content .StartPage .intractive {
  width: auto;
  height: auto;
  background-color: #355A7C;
  padding: 1% 6%;
  border-radius: 1vh;
}
.main .safeArea .lo-container .content .border-content .StartPage .intractive p {
  color: white;
  font-weight: bold;
}
.main .safeArea .lo-container .content .border-content .StartPage .home {
  width: 55vh;
  height: 37vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.main .safeArea .lo-container .content .border-content .StartPage .start {
  width: 16%;
  height: 15%;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main .safeArea .lo-container .content .border-content .StartPage .start p {
  color: white;
  font-weight: bold;
  font-size: 4.5vh;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion {
  width: 96%;
  height: 94%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: showQ 0.7s normal;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-height: 45%;
  flex-wrap: wrap;
  margin-top: 2%;
  border: 0.1vh solid #355A7C;
  border-radius: 2vh;
  padding: 1%;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses .choose {
  min-width: 43%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 2.8% 1%;
  background-size: 100% 100%;
  cursor: pointer;
  text-align: center;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses .choose p {
  pointer-events: none;
  color: #388388;
  font-weight: bold;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses .choose.true p {
  color: #FFFFFF !important;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses .choose.false p {
  color: #FFFFFF !important;
}
.main .safeArea .lo-container .content .border-content .chooseQuestion .chooses .choose.select p {
  color: #FFFFFF !important;
}
.main .safeArea .lo-container .content .border-content .DragQuestion {
  width: 96%;
  height: 90%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: showQ 0.7s normal;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drags-container,
.main .safeArea .lo-container .content .border-content .DragQuestion .drops-container {
  width: 85%;
  min-height: 15%;
  max-height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border: 0.1vh solid #355A7C;
  padding: 1%;
  border-radius: 2vh;
  margin-top: 1%;
  position: relative;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drags-container .sound,
.main .safeArea .lo-container .content .border-content .DragQuestion .drops-container .sound {
  position: absolute;
  width: 7vh;
  height: 7vh;
  background-size: 100% 100%;
  left: -4%;
  cursor: pointer;
  top: -5%;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drags-container img,
.main .safeArea .lo-container .content .border-content .DragQuestion .drops-container img {
  width: 100%;
  height: 100%;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag-area {
  min-width: 24vh;
  min-height: 7.8vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag {
  min-width: 24vh;
  min-height: 7.8vh;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop {
  min-width: 24vh;
  min-height: 8vh;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3vh dashed #FFF;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag.disabled {
  display: none;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag p {
  color: #388388;
  pointer-events: none;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop.border {
  border: 0.3vh dashed #355A7C;
  border-radius: 2vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop.border.wrong {
  border: 0.3vh dashed #E74C3C;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop.border.correct {
  border: 0.3vh dashed #2ECC71;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop .drag {
  width: 100%;
  height: 100%;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop.wrong .drag p, .main .safeArea .lo-container .content .border-content .DragQuestion .drop.correct .drag p {
  color: #FFFFFF;
}
.main .safeArea .lo-container .content .border-content .DragQuestion p {
  font-size: 3vh;
  padding: 1vh;
  text-align: center;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag-area-img {
  width: 32.4vh;
  height: 27.4vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag-img,
.main .safeArea .lo-container .content .border-content .DragQuestion .drop-img {
  width: 33vh;
  height: 28vh;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3vh dashed #FFF;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag-img img,
.main .safeArea .lo-container .content .border-content .DragQuestion .drop-img img {
  border: 0.6vh solid #355A7C;
  border-radius: 2vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drag-img.disabled {
  display: none;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop-img .drag-img {
  width: 32.4vh;
  height: 27.4vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop-img.wrong .drag-img img {
  border: 0.6vh solid #E74C3C;
}
.main .safeArea .lo-container .content .border-content .DragQuestion .drop-img.correct .drag-img img {
  border: 0.6vh solid #2ECC71;
}
.main .safeArea .lo-container .content .border-content .DragQuestion.column {
  flex-direction: unset;
}
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drags-container,
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drops-container {
  width: 40%;
  height: 95%;
  min-height: unset;
  max-height: unset;
  flex-direction: column;
  margin: 0 1%;
}
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drags-container .drag-area,
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drops-container .drag-area {
  min-width: 48vh;
  min-height: 9vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drags-container .drag,
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drops-container .drag {
  min-width: 48vh;
  min-height: 9vh;
}
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drags-container .drop,
.main .safeArea .lo-container .content .border-content .DragQuestion.column .drops-container .drop {
  min-width: 48vh;
  min-height: 9vh;
}
.main .safeArea .lo-container .content .border-content .matchQuestion {
  width: 96%;
  height: 90%;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: showQ 0.7s normal;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .svg-dist {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  z-index: 2;
  animation: showQ 0.7s normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight {
  width: 38%;
  height: 100%;
  border: 0.1vh solid #355A7C;
  border-radius: 2vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  padding: 0 2%;
  position: relative;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt {
  width: 76%;
  height: 14%;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 7%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt p {
  color: #388388;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt .cointDrag {
  position: absolute;
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-size: 100% 100%;
  top: 26%;
  left: -5%;
  z-index: 100;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt .cointDrag .point {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img {
  width: 50%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6vh solid #355A7C;
  border-radius: 2vh;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img p {
  color: #388388;
  font-weight: bold;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img .cointDrag {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-size: 100% 100%;
  top: 30%;
  left: -10%;
  z-index: 100;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img .cointDrag .point {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img .image {
  width: 100%;
  height: 100%;
  margin-bottom: 0%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img .image img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft {
  width: 38%;
  height: 100%;
  border: 0.1vh solid #355A7C;
  border-radius: 2vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  padding: 0 2%;
  position: relative;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img {
  width: 50%;
  height: 20%;
  border: 0.6vh solid #355A7C;
  border-radius: 2vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img p {
  color: #388388;
  font-weight: bold;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img .cointDrag {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-size: 100% 100%;
  top: 30%;
  right: -10%;
  z-index: 100;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img .cointDrag .point {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img .image {
  width: 100%;
  height: 100%;
  margin-bottom: 0%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img .image img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt {
  width: 76%;
  height: 14%;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 7%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt p {
  color: #388388;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt .cointDrag {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-size: 100% 100%;
  top: 25%;
  right: -4%;
  z-index: 100;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt .cointDrag .point {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.main .safeArea .lo-container .content .border-content .matchQuestion .point {
  cursor: grab;
}
.main .safeArea .lo-container .content .border-content .inputQuestion {
  width: 96%;
  height: 90%;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  animation: showQ 0.7s normal;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex {
  width: 80%;
  min-height: 30%;
  max-height: 49%;
  border: 0.1vh solid #355A7C;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
  padding: 1%;
  margin-top: 2vh;
  flex-wrap: wrap;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex p {
  color: #355A7C;
  font-weight: bold;
  font-size: 4vh;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex input {
  margin: 0 0.5vh;
  width: 23vh;
  height: 4.5vh;
  border: 0.5vh #355A7C solid;
  border-radius: 1vh;
  padding: 1vh;
  color: #355A7C;
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  margin: 0 0.5vh;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex input:focus {
  outline: none;
  border: 0.5vh #355A7C solid;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex input.right {
  background-color: #2ECC71;
  color: #FFFFFF;
}
.main .safeArea .lo-container .content .border-content .inputQuestion .question-flex input.wrong {
  background-color: #E74C3C;
  color: #FFFFFF;
}
.main .safeArea .lo-container .content .border-content .question {
  width: 75%;
  min-height: 30%;
  max-height: 49%;
  border: 1vh solid #355A7C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 1%;
  border-radius: 2vh;
  margin-top: 2%;
}
.main .safeArea .lo-container .content .border-content .question p {
  color: #355A7C;
  font-weight: bold;
}
.main .safeArea .lo-container .content .border-content .question .sound {
  position: absolute;
  width: 8vh;
  height: 8vh;
  background-size: 100% 100%;
  left: -4%;
  top: -17%;
  cursor: pointer;
}
.main .safeArea .lo-container .content .border-content .question .txt {
  width: 59%;
}
.main .safeArea .lo-container .content .border-content .question .txt.full {
  width: 98%;
  text-align: center;
}
.main .safeArea .lo-container .content .border-content .question .image {
  width: 38%;
  max-height: 98%;
  border: 0.6vh solid #355A7C;
  border-radius: 2vh;
}
.main .safeArea .lo-container .content .border-content .question .image img {
  width: 100%;
  height: 100%;
}
.main .safeArea .lo-container .content .border-content .image-question {
  width: 40%;
  max-height: 100%;
  border: 0.6vh solid #355A7C;
  border-radius: 2vh;
}
.main .safeArea .lo-container .content .border-content .image-question img {
  width: 100%;
  height: 100%;
}
.main .safeArea .lo-container .content .border-content .active {
  display: flex;
}
.main .safeArea .lo-container .content .border-content .sumbit {
  width: 8vh;
  height: 8vh;
  background-size: 100% 100%;
  position: absolute;
  bottom: -1%;
  left: 0%;
  cursor: pointer;
}
.main .safeArea .lo-container .content .border-content .sumbit.dimmed {
  pointer-events: none;
}
.main .safeArea .lo-container .content .border-content .feedBack {
  width: 50%;
  height: 55%;
  background-size: 100% 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000 !important;
  padding-left: 1vw;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackImg {
  width: 32%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status {
  width: 100%;
  height: 85%;
  background-size: 100% 100%;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.sad {
  width: 90%;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.w35f {
  width: 35%;
  height: 100%;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  line-height: 1.4;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt p {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 4vh;
  line-height: 1.5;
  width: 24vw;
}
.main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt.w35f {
  width: 34%;
}
.main .safeArea .lo-container .content .border-content .feedBack .icon {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-size: 100% 100%;
  bottom: -7%;
  cursor: pointer;
}
.main {
  /* حركة للوجوه */
}
.main .status.happy {
  animation: pop 0.4s ease;
}
.main .status.sad {
  animation: shake 0.4s ease;
}
.main {
  /* انيميشن النجاح */
}
@keyframes pop {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.main {
  /* انيميشن الخطأ */
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showQ {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* ظهور واختفاء الفيدباك */
.feedback-enter-active,
.feedback-leave-active {
  transition: all 0.4s ease;
}

.feedback-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.feedback-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.feedback-leave-from {
  opacity: 1;
}

.feedback-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

/* حركة بسيطة للأيقونات */
.icon {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.main.eng {
  direction: ltr;
}
.main.eng p,
.main.eng input {
  font-family: Lexend;
}
.main.eng .safeArea .lo-container .logo {
  right: 1%;
  left: unset;
}
.main.eng .safeArea .lo-container .content .title {
  transform: scaleX(-1);
  flex-direction: row-reverse;
}
.main.eng .safeArea .lo-container .content .title p {
  transform: scaleX(-1);
}
.main.eng .safeArea .lo-container .content .title .sound {
  transform: scaleX(-1);
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnRight {
  margin-left: unset;
  margin-right: 2%;
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt .cointDrag {
  right: -5%;
  left: unset;
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-img .cointDrag {
  right: -10%;
  left: unset;
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnLeft {
  margin-right: unset;
  margin-left: 2%;
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-img .cointDrag {
  right: unset;
  left: -10%;
}
.main.eng .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt .cointDrag {
  right: unset;
  left: -4%;
}
.main.eng .safeArea .lo-container .content .border-content .question .sound {
  right: -4%;
  left: unset;
}
.main.eng .safeArea .lo-container .content .border-content .sumbit {
  right: 0%;
  left: unset;
}
.main.eng .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.sad, .main.eng .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.sadgirl, .main.eng .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.sadboy, .main.eng .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.happyboy, .main.eng .safeArea .lo-container .content .border-content .feedBack .feedBackImg .status.happygirl {
  transform: scaleX(-1);
}
.main.eng {
  /* حركة للوجوه */
}
.main.eng .status.happy {
  animation: popEng 0.4s ease;
}
.main.eng .status.sad {
  animation: shakeEng 0.4s ease;
}
.main {
  /* انيميشن النجاح */
}
@keyframes popEng {
  0% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(1);
  }
}
.main {
  /* انيميشن الخطأ */
}
@keyframes shakeEng {
  0% {
    transform: scaleX(-1) translateX(0);
  }
  25% {
    transform: scaleX(-1) translateX(-5px);
  }
  50% {
    transform: scaleX(-1) translateX(5px);
  }
  75% {
    transform: scaleX(-1) translateX(-5px);
  }
  100% {
    transform: scaleX(-1) translateX(0);
  }
}

@media (max-aspect-ratio: 4/3) and (max-aspect-ratio: 1366/1024) {
  .main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt p {
    line-height: 1.7 !important;
    width: 25vw !important;
  }
}
@media (max-aspect-ratio: 13/10) {
  p {
    font-size: 2.5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .StartPage .home {
    width: 45vw !important;
    height: 30vw !important;
  }
  .main .safeArea .lo-container .content .title .sound,
  .main .safeArea .lo-container .content .border-content .DragQuestion .drags-container .sound,
  .main .safeArea .lo-container .content .border-content .DragQuestion .drops-container .sound {
    width: 5vw !important;
    height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drag-area {
    min-width: 17vw !important;
    min-height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drag {
    min-width: 17vw !important;
    min-height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drop {
    min-width: 17vw !important;
    min-height: 5vw !important;
    border-radius: 1vw !important;
  }
  .main .safeArea .lo-container .content .border-content .sumbit {
    width: 7vw !important;
    height: 7vw !important;
  }
  .main .safeArea .lo-container .content .border-content .feedBack .icon {
    width: 7vw !important;
    height: 7vw !important;
  }
  .main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt p {
    line-height: 1.7 !important;
    width: 25vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion.column .drags-container .drop,
  .main .safeArea .lo-container .content .border-content .DragQuestion.column .drops-container .drop {
    min-width: 38vh !important;
    min-height: 9vh !important;
  }
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt .cointDrag {
    width: 4vw !important;
    height: 4vw !important;
  }
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt .cointDrag {
    width: 4vw !important;
    height: 4vw !important;
  }
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt p,
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt p {
    font-size: 1.9vw !important;
    width: 100%;
    line-height: 1.5;
  }
}
@media (orientation: portrait) {
  p {
    font-size: 2.5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .StartPage .home {
    width: 45vw !important;
    height: 30vw !important;
  }
  .main .safeArea .lo-container .content .title .sound,
  .main .safeArea .lo-container .content .border-content .DragQuestion .drags-container .sound,
  .main .safeArea .lo-container .content .border-content .DragQuestion .drops-container .sound {
    width: 5vw !important;
    height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drag-area {
    min-width: 17vw !important;
    min-height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drag {
    min-width: 17vw !important;
    min-height: 5vw !important;
  }
  .main .safeArea .lo-container .content .border-content .DragQuestion .drop {
    min-width: 17vw !important;
    min-height: 5vw !important;
    border-radius: 1vw !important;
  }
  .main .safeArea .lo-container .content .border-content .sumbit {
    width: 10vw !important;
    height: 10vw !important;
  }
  .main .safeArea .lo-container .content .border-content .feedBack .icon {
    width: 7vw !important;
    height: 7vw !important;
  }
  .main .safeArea .lo-container .content .border-content .feedBack .feedBackTxt p {
    line-height: 1.7 !important;
  }
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnRight .row-text.div-txt .cointDrag {
    width: 4vw !important;
    height: 4vw !important;
  }
  .main .safeArea .lo-container .content .border-content .matchQuestion .columnLeft .row-text.div-txt .cointDrag {
    width: 4vw !important;
    height: 4vw !important;
  }
}/*# sourceMappingURL=style.css.map */